/* display */

    /* flex */
.d-flex{
    display: flex;
}

.d-flex-c-a{
    display: flex;
    align-items: center;
}

.d-flex-c-j{
    display: flex;
    justify-content: center;
}

.d-flex-c{
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-flex-s-b-j{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.d-flex-s-b-a{
    display: flex;
    align-content: space-between;
    justify-content: center;
}
    /* grid */
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px ;
}
.gap-30{
    gap: 30px ;
}
.gap-50{
    gap: 50px ;
}
.gap-10{
    gap: 10px ;
}
.gap-100{
    gap: 100px ;
}
    /* block */
.d-block{
    display: block;
}
    /* inline-block */
.d-inline-block{
    display: inline-block;
}
    /* inline */
.d-inline{
    display: inline;
}
/* colors */
.c-red{
    color: rgb(202, 9, 9);
}
.c-fff{
    color: #fff;
}
.c-green{
    color: rgb(3, 116, 3);
}
.c-blue{
    color: rgb(6, 6, 165);
}
.c-yellow{
    color: rgb(230, 207, 2);
}
.c-p{
    color: #777;
}
.c-grey {
    color: #c5c5c5d2;
}



/* border-radius */
.rad-5{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.rad-10{
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
}
.rad-half{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.fw-bold{
    font-weight: bold;
}

.w-full{
    width: 100%;
}

/* font-size */
.fs-12{
    font-size: 12px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-20{
    font-size: 20px;
}
.fs-10{
    font-size: 10px;
}
.fs-28{
    font-size: 28px;
}
.fs-34{
    font-size: 34px;
}


/* padding */

.p-0{
    padding: 0px ;
}
.p-5{
    padding: 5px ;
}
.p-10{
    padding: 10px ;
}
.p-15{
    padding: 15px ;
}
.p-20{
    padding: 20px ;
}
.p-25{
    padding: 25px ;
}
.p-30{
    padding: 30px ;
}
.p-100{
    padding: 100px ;
}
.p-55{
    padding: 55px ;
}
.p-t-5{
    padding-top: 5px ;
}
.p-t-10{
    padding-top: 10px ;
}
.p-t-15{
    padding-top: 15px ;
}
.p-t-20{
    padding-top: 20px ;
}
.p-t-30{
    padding-top: 30px ;
}
.p-b-5{
    padding-bottom: 5px ;
}
.p-b-10{
    padding-bottom: 10px ;
}
.p-b-15{
    padding-bottom: 15px ;
}
.p-b-20{
    padding-bottom: 20px ;
}
.p-b-30{
    padding-bottom: 30px ;
}
.p-l-5{
    padding-left: 5px ;
}
.p-l-10{
    padding-left: 10px ;
}
.p-l-15{
    padding-left: 15px ;
}
.p-l-20{
    padding-left: 20px ;
}
.p-l-30{
    padding-left: 30px ;
}
.p-l-100{
    padding-left: 100px ;
}
.p-r-5{
    padding-right: 5px ;
}
.p-r-10{
    padding-right: 10px ;
}
.p-r-15{
    padding-right: 15px ;
}
.p-r-20{
    padding-right: 20px ;
}
.p-r-30{
    padding-right: 30px ;
}

/* margin */

.m-0{
    margin: 0px ;
}
.m-5{
    margin: 5px ;
}
.m-10{
    margin: 10px ;
}
.m-15{
    margin: 15px ;
}
.m-20{
    margin: 20px ;
}
.m-25{
    margin: 25px ;
}
.m-30{
    margin: 30px ;
}
.m-100{
    margin: 100px ;
}
.m-55{
    margin: 55px ;
}
.m-t-5{
    margin-top: 5px ;
}
.m-t-10{
    margin-top: 10px ;
}
.m-t-15{
    margin-top: 15px ;
}
.m-t-20{
    margin-top: 20px ;
}
.m-t-30{
    margin-top: 30px ;
}
.m-b-5{
    margin-bottom: 5px ;
}
.m-b-10{
    margin-bottom: 10px ;
}
.m-b-15{
    margin-bottom: 15px ;
}
.m-b-20{
    margin-bottom: 20px ;
}
.m-b-30{
    margin-bottom: 30px ;
}
.m-l-5{
    margin-left: 5px ;
}
.m-l-10{
    margin-left: 10px ;
}
.m-l-15{
    margin-left: 15px ;
}
.m-l-20{
    margin-left: 20px ;
}
.m-l-30{
    margin-left: 30px ;
}
.m-r-5{
    margin-right: 5px ;
}
.m-r-10{
    margin-right: 10px ;
}
.m-r-15{
    margin-right: 15px ;
}
.m-r-20{
    margin-right: 20px ;
}
.m-r-30{
    margin-right: 30px ;
}